


a {
  color: #00B7FF;
}

body {
  background-image: url("../assets/images/back_1.jpg");
  background-position-y: -80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.charts_container {
  display : flex;
  flex-direction : row;
  justify-content: center;
  flex-wrap: wrap;

}
.line, .gauge {
  background-color: #21313cc6;
  margin-left:20px;
  margin-right:20px;
  margin-top: 20px;
  margin-bottom: 20px;

}

#wind_alert {
  color:#dc3545;
  visibility: hidden;
}

#card-auto{
  background-color: #343a40;
}

.cards-container {
  display : flex;
  flex-direction : row;
  justify-content: flex start;

  flex-wrap: wrap;
}

.sensors-card{
  width:300px;
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.mainTitle {
  /* background-color: rgb(0, 0, 0); */
  color:rgb(101, 177, 200);
  margin-top:6em;
  font-size: 55px;
}